@import 'typography';
@import 'media';
@import 'text';

@import '~components/View/View';

.view--home {
  @extend %view--normal;
  text-align: left;
}

.view--home__header__name {
  vertical-align: middle;
  display: inline-block;
}

@include desktop {
  %view--home__header__location {
    vertical-align: middle;
    display: inline-block;
    margin-left: 3rem;
  }
};

.view--home__header__location {
  @extend %view--home__header__location;
}

.view--home__header__location__icon {
  @extend .mdi;
  @extend .mdi-map-marker;
  margin-right: 1rem;
}

@include desktop {
  .view--home__lets-work-together__title {
    margin-top: 1.5rem;
  }
};

@include mobile-or-phablet {
  .view--home__lets-work-together__title {
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
  }
};

.view--home__lets-work-together__input {
  width: 100%;
}

.view--home__lets-work-together__textarea {
  width: 100%;
  height: 10rem;
  resize: none;
}

.view--home__lets-work-together__label {
  margin-top: 1rem;
}

.view--home__lets-work-together__label--hidden {
  visibility: hidden;
}

.view--home__lets-work-together__disclaimer {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.view--home__lets-work-together__error {
  margin-top: 1rem;
  color: orange;
}

.view--home__lets-work-together__error--tablet {
  display: none;
}

@include tablet {
  .view--home__lets-work-together__error--mobile {
    display: none;
  }

  .view--home__lets-work-together__error--tablet {
    display: block;
  }
};

.view--home__current_work__li__text {
  @extend .text--ellipse;
  font-size: 1.7rem;
}
