@import "../../../components/View/View.scss";

.view--work {
    @extend .view--normal;
}

.view--work__tab {
}

.view--work__tab__header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
