@import '~components/View/View.scss';

$view-work-tag-font-size: 1.2rem;
$view-work-tag-line-height: 2.2rem;

.view--work {
  @extend %view--normal;
}

.view--work__tab {
}

.view--work__tab__header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

.view--work__tab__table {
  // max-width: 60rem;
  // margin: 0 auto;
  text-align: left;
}

.view--work__description {

}

.view--work__description__list {
  margin: 0.5rem 0;
}

.view--work__description__list__item {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -2rem;
  padding-left: 2.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.view--work__tag-wrapper {
  padding-top: 0.5rem;
}

.view--work__tag {
  display: inline-block;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px dotted transparentize(black, 0.7);
  font-size: $view-work-tag-font-size;
  line-height: $view-work-tag-line-height;
}

.view--work__tab__table__section-title {
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid black;
}
