@import '../components/View/View.scss';

.view--work {
  @extend %view--normal;
}

.view--work__tab {
}

.view--work__tab__header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}
