$phablet-min-height: 600px;
$desktop-min-height: 1000px;

$phablet-min-width: 400px;
$tablet-min-width: 550px;
$desktop-min-width: 750px;
$hd-min-width: 960px;
$ultra-hd-min-width: 1200px;

@mixin mobile-height {
  @media (max-height: #{$phablet-min-height - 1px}) {
    @content;
  }
}

@mixin phablet-height {
  @media (min-height: #{$phablet-min-height}) {
    @content;
  }
}

@mixin mobile-or-phablet-height {
  @media (max-height: #{$desktop-min-height - 1px}) {
    @content;
  }
}

@mixin desktop-height {
  @media (min-height: #{$desktop-min-height}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$phablet-min-width - 1px}) {
    @content;
  }
}

@mixin mobile-or-phablet {
  @media (max-width: #{$tablet-min-width - 1px}) {
    @content;
  }
}

@mixin hd-and-below {
  @media (max-width: #{$ultra-hd-min-width - 1px}) {
    @content;
  }
}

@mixin phablet {
  @media (min-width: #{$phablet-min-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$hd-min-width}) {
    @content;
  }
}

@mixin ultra-hd {
  @media (min-width: #{$ultra-hd-min-width}) {
    @content;
  }
}
