@import 'media';
@import 'typography';

$work-cell-spillover: 0.75rem;

.work-cell-link {
  display: block;
  margin: 0 (-1 * $work-cell-spillover);
  padding: 0 $work-cell-spillover;

  &:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
  }
}

.work-cell {
  color: black;
  padding: 2rem 0.5rem;
}

.work-cell__row {
  line-height: 3rem;
}

// .work-cell__row__side {
//
// }

.work-cell__row--1 {
  @include tablet {
    border-bottom: 1px dotted transparentize(gray, 0.9);
  }
}

.work-cell__row--1__left {
  font-size: 2.2rem;
  font-weight: 700;
}

.work-cell__row--1__right {
  font-size: 2rem;

  .work-cell__row--1__right__text {
    &:before {
      margin-left: -2rem;
      margin-right: 0.4rem;
      line-height: 3rem;
      font: normal normal normal 24px/1 "Material Design Icons";
      font-size: 1.6rem;
      content: mdi('map-marker');
    }
  }
}

.work-cell__row--1__right,
.work-cell__row--2__right {
  @include tablet {
    text-align: right;
  }
}

.work-cell__row--2__left {
  font-size: 1.9rem;
}

.work-cell__row--2__right {
  font-size: 1.7rem;
}

.work-cell__row--3 {
  margin: 0.5rem 0;
}

.work-cell__row--3,
.work-cell__row--4 {
  font-size: 1.6rem;
}
