$header-height: 7.2rem;

$logo-h-height: $header-height;
$logo-h-width: 9rem;

$header-opacity: .15;

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  z-index: 10000;
  text-align: left;
  overflow: hidden;
  background-color: transparentize(white, $header-opacity);
  border-bottom: 1px solid lightgrey;
}

.route-container {
  height: $logo-h-height;
  width: calc(100% - #{$logo-h-width});
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.route {
  padding: 0.6rem 2rem;
  font-size: 1.5rem;
  color: black;

  font-weight: 200;
  text-decoration: none;

  &:hover,
  &:focus {
    color: black;
  }
}

.route-row {
  height: 3.8rem;
  white-space: nowrap;
}

.route--active {
  font-weight: bold;
}

.logo-h {
  height: $logo-h-height;
  width: $logo-h-width;
  line-height: 7.2rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Lovers Quarrel', cursive;
  font-size: 7.2rem;
  text-decoration: none;
}

.logo-h__text {
  display: block;
  height: 6rem;
  width: 6.5rem;
}

.logo-h,
.route,
.route-container {
  display: inline-block;
  vertical-align: top;
}

.logo-h,
.logo-h:active,
.logo-h:focus,
.logo-h:hover,
.logo-h:visited {
  background-color: white;
  color: black;
}

.logo-h--active,
.logo-h--active:active,
.logo-h--active:focus,
.logo-h--active:hover,
.logo-h--active:visited {
  background-color: black;
  color: white;
}

.logo-h,
.logo-h--active,
.logo-h--active:active,
.logo-h--active:focus,
.logo-h--active:hover,
.logo-h--active:visited,
.logo-h:active,
.logo-h:focus,
.logo-h:hover,
.logo-h:visited {
  text-decoration: none;
  outline: none;
}
