@import 'media';

@import '~components/Header/Header';

$footer-height: 5;

.container.core-layout__viewport {
  @include mobile-height {
    min-height: calc(100% - #{$footer-height}rem);
  }
  padding-top: $header-height;
  padding-bottom: $footer-height + rem;
}

.footer {
  @include phablet-height {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  height: $footer-height + rem;
  width: 100%;
  z-index: 9999;
  text-align: left;
  overflow: hidden;
  background-color: transparentize(white, $header-opacity);
  border-top: 1px solid lightgrey;
}

.footer__link-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}

.footer__link-container,
.footer__link--social {
  display: inline-block;
  vertical-align: middle;
}

.footer__link--social {
  line-height: $footer-height + rem;
  margin-left: 2rem;
  color: black;

  &:last-of-type {
    margin-right: 2rem;
  }
}

.footer__link--social__icon {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
